<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.althink.android.ossw.plugins.ipsensorman">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IpSensorManPluginSettingsActivity"
            android:label="@string/plugin_name">
            <intent-filter>
                <action android:name="com.althink.android.ossw.plugins.ipsensorman.config" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".IpSensorManPluginContentProvider"
            android:authorities="com.althink.android.ossw.plugins.ipsensorman"
            android:enabled="true"
            android:exported="true"
            android:label="@string/plugin_name"
            android:syncable="false">
            <meta-data
                android:name="com.althink.android.ossw.plugin"
                android:value="true"></meta-data>
        </provider>

        <service
            android:name=".IpSensorManPluginService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.althink.android.ossw.plugins.ipsensorman" />
            </intent-filter>
        </service>

    </application>

</manifest>
